/*первый экран*/

/* хотела сделать первый экран высотой 100vh, но тогда на fullHD мониторе у девушки с первого слайда обрезанная голова вылазит из под навигации */

.header {
    height: 876px;
    position: relative;
    transition: .5s;
}

.nav__container {
    background-color: #fff;
    position: fixed;
    top: 37px;
    z-index: 3;
    width: 100%;
    max-width: inherit;
    transition: top .5s;
}

.logo {
    margin-right: auto;
}

.headerSection-left__row {
    flex: 1;
}

.headerSection-left {
    padding-bottom: 40px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 130px;
}

.headerSection-left__bigTitle {
    font-size: 124px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 92px;
    display: flex;
    flex-direction: column;
    color: #fff;
}

.headerSection-left__middleTitle {
    font-size: 94px;
    font-weight: 800;
    text-transform: uppercase;
}

.headerSection-left__littleTitle {
    font-size: 28px;
    color: #fff;
    margin: 50px 0;
}

.headerSection-left__button, .headerSection-left__button :hover {
    width: 381px;
    height: 90px;
    border-radius: 38px;
    box-shadow: 0px 5px 0px 0px rgba(41, 134, 36, 0.004), inset 0px 5px 5px 0px rgba(247, 235, 151, 0.66);
    background-color: #4db848;
    background-image: -moz-linear-gradient( -90deg, rgb(85, 221, 73) 0%, rgb(61, 161, 57) 100%);
    background-image: -webkit-linear-gradient( -90deg, rgb(85, 221, 73) 0%, rgb(61, 161, 57) 100%);
    background-image: -ms-linear-gradient( -90deg, rgb(85, 221, 73) 0%, rgb(61, 161, 57) 100%);
    font-size: 34px;
    color: #fff;
    font-weight: 800;
    cursor: pointer;
}

.headerSection-left__row {
    flex: 1;
}

.logo-nl, .menu-main, .col__title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    min-height: 93px;
}

.header__arowDown {
    display: flex;
    justify-content: flex-end;
    height: 30px;
}

.header__footer-socialIcons {
    display: flex;
    justify-content: flex-end;
}

.social-icons__imgYouTube {
    margin: 0 12px;
}